.container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start; /* main axis */
    align-items: flex-start; /* cross axis */
}

header {
    width: 95%;
    margin: 0;
    padding: 0 2.5%;
    flex: initial; /* flex: 0 1 auto */
}

nav {
    width: 95%;
    margin: 1em 0;
    padding: 0.5em 2.5%;
    border: 1px solid #dde3ea;
    border-radius: 8px;
    background: #fcfcff;
    flex: initial; /* flex: 0 1 auto */
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between; /* main axis */
    align-items: flex-start; /* cross axis */
}

button {
    width: 20%;
    margin: 0;
    padding: 0;
    flex: initial; /* flex: 0 1 auto */
    background: none;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.8;
    font-weight: 500;
    color: #191c1e;
}

/* Media queries for button */
@media (width >= 300px) and (width <= 399px) {
    button {
        font-size: 0.75em; /* 12px */
    }
}

@media (width >= 400px) and (width <= 499px) {
    button {
        font-size: 0.8125em; /* 13px */
    }
}

@media (width >= 500px) and (width <= 599px) {
    button {
        font-size: 0.875em; /* 14px */
    }
}

@media (width >= 600px) {
    button {
        font-size: 0.9375em; /* 15px */
    }
}

.selected {
    background: #dde3ea;
    color: #41484d;
}

aside {
    width: 95%;
    margin: 0 2.5%;
    padding: 0;
    flex: initial; /* flex: 0 1 auto */
}

section {
    width: 95%;
    margin: 0 0 1em; /* longform is 0 0 1em 0 */
    padding: 1em 2.5%;
    flex: initial; /* flex: 0 1 auto */
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start; /* main axis */
    align-items: flex-start; /* cross axis */
}

figure {
    width: 100%;
    margin: 0.4em 0;
    padding: 0;
    flex: initial; /* flex: 0 1 auto */
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start; /* main axis */
    align-items: center; /* cross axis */
}

/* Spans within figure */
.year {
    margin-right: 0.25em;
    padding: 0;
    flex: initial; /* flex: 0 1 auto */
}

.temp {
    margin-left: 0.25em;
    padding: 0;
    flex: initial; /* flex: 0 1 auto */
}

.bar {
    /* width set by JavaScript */
    margin: 0;
    padding: 0;
    background: #83cfff;
    border: 1px solid #2c9ad0; /*orange*/
    flex: initial; /* flex: 0 1 auto */
}

/* Media queries for .bar */
@media (width >= 300px) and (width <= 399px) {
    .bar {
        height: 0.75em; /* 12px */
    }
}

@media (width >= 400px) and (width <= 499px) {
    .bar {
        height: 0.8125em; /* 13px */
    }
}

@media (width >= 500px) and (width <= 599px) {
    .bar {
        height: 0.875em; /* 14px */
    }
}

@media (width >= 600px) {
    .bar {
        height: 0.9375em; /* 15px */
    }
}

.bar-action {
    animation: bar-fade  800ms;
}

@keyframes bar-fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

footer {
    width: 95%;
    margin: 0 0 1em; /* longhand is 0 0 1em 0 */
    padding: 1em 2.5%;
    background: #fcfcff;
    border: 1px solid #dde3ea;
    border-radius: 8px;
    flex: initial; /* flex: 0 1 auto */
}

/* Fonts */
span {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 500;
    color: #191c1e;
}

p {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.8;
    font-weight: 400;
    color: #191c1e;
}

h1 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 500;
    color: #1b1c17;
}

h1 a {
    color: #1b1c17;
    text-decoration: none;
}

h2 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 500;
    color: #191c1e;
}

/* Media queries for fonts */
@media (width >= 300px) and (width <= 399px) {
    span {
        font-size: 0.75em; /* 12px */
    }

    p {
        font-size: 0.875em; /* 14px */
    }

    h1 {
        font-size: 1.125em; /* 18 px */
    }

    h2 {
        font-size: 1em; /* 16px */
    }
}

@media (width >= 400px) and (width <= 499px) {
    span {
        font-size: 0.8125em; /* 13px */
    }

    p {
        font-size: 0.9375em; /* 15px */
    }

    h1 {
        font-size: 1.1875em; /* 19px */
    }

    h2 {
        font-size: 1.0625em; /* 17px */
    }
}

@media (width >= 500px) and (width <= 599px) {
    span {
        font-size: 0.875em; /* 14px */
    }

    p {
        font-size: 1em; /* 16px */
    }

    h1 {
        font-size: 1.25em; /* 20px */
    }

    h2 {
        font-size: 1.125em; /* 18 px */
    }
}

@media (width >= 600px) {
    span {
        font-size: 0.9375em; /* 15px */
    }

    p {
        font-size: 1.0625em; /* 17px */
    }

    h1 {
        font-size: 1.3125em; /* 21px */
    }

    h2 {
        font-size: 1.1875em; /* 19px */
    }
}
