body {
    margin-top: 0;
}

.container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start; /* main axis */
    align-items: flex-start; /* cross axis */
}

header {
    width: 95%;
    margin: 0;
    padding: 0 2.5%;
    flex: initial; /* flex: 0 1 auto */
    background: #06080d; /* very dark blue */
    position: relative;
}

header::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 1200px;
    left: 100%;
    background: #06080d; /* very dark blue */
}

header::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 1200px;
    right: 100%;
    background: #06080d; /* very dark blue */
}

nav {
    width: 95%;
    margin: 1.5em 0;
    padding: 0 2.5%;
    flex: initial; /* flex: 0 1 auto */
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between; /* main axis */
    align-items: flex-start; /* cross axis */
}

button {
    width: 19%;
    margin: 0;
    padding: 0.25em 0;
    flex: initial; /* flex: 0 1 auto */
    background: #06080d; /* very dark blue */
    color: #fff;
    border: none;
    cursor: pointer;
}

.selected {
    background: #1878cc; /* dark blue */
}

aside {
    width: 90%;
    margin: 0 2.5%;
    padding: 0 2.5%;
    background: #f2f1f0; /* light warm grey */
    border: 1px solid #d9d8d0; /* medium warm grey */
    flex: initial; /* flex: 0 1 auto */
}

section {
    width: 95%;
    margin: 0 0 1em; /* longform is 0 0 1em 0 */
    padding: 1em 2.5%;
    flex: initial; /* flex: 0 1 auto */
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start; /* main axis */
    align-items: flex-start; /* cross axis */
}

figure {
    width: 100%;
    margin: 0.4em 0;
    padding: 0;
    flex: initial; /* flex: 0 1 auto */
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start; /* main axis */
    align-items: center; /* cross axis */
}

/* Spans within figure */
.year {
    margin: 0;
    padding: 0;
    flex: initial; /* flex: 0 1 auto */
}

.bar {
    /* width set by JavaScript */
    margin: 0 0.25em;
    padding: 0;
    background: #4abf2a; /* bright green */
    flex: initial; /* flex: 0 1 auto */
}

@media all and (min-width: 300px) {
    .bar {
        height: 0.75em;
    }
}

@media all and (min-width: 600px) {
    .bar {
        height: 1em;
    }
}

.bar-action {
    animation: bar-fade  800ms;
}

@keyframes bar-fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.temp {
    margin: 0;
    padding: 0;
    flex: initial; /* flex: 0 1 auto */
    color: #62757f; /* blue grey 300 dark */
}

footer {
    width: 95%;
    margin: 0 0 1em; /* longhand is 0 0 1em 0 */
    padding: 1em 2.5%;
    border-top: 1px solid #d9d8d0; /* medium warm grey */
    flex: initial; /* flex: 0 1 auto */
}

/* Fonts */
.year,
.temp,
button {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 600;
}

p,
li {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.8;
    font-weight: 400;
}

h1 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 700;
    color: #fff;
}

h1 a {
    color: #fff;
    text-decoration: none;
}

h2 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 700;
}

/* Media queries for fonts */
@media all and (min-width: 300px) {
    .year,
    .temp,
    button {
        font-size: 0.75em;
    }

    p,
    li {
        font-size: 0.875em;
    }

    h1 {
        font-size: 1.2em;
    }

    h2 {
        font-size: 1em;
    }
}

@media all and (min-width: 400px) {
    p,
    li {
        font-size: 0.9375em;
    }

    h1 {
        font-size: 1.4em;
    }

    h2 {
        font-size: 1.2em;
    }
}

@media all and (min-width: 600px) {
    .year,
    .temp,
    button {
        font-size: 0.8125em;
    }

    p,
    li {
        font-size: 1em;
    }

    h1 {
        font-size: 1.6em;
    }

    h2 {
        font-size: 1.4em;
    }
}
