.container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start; /*main axis*/
    align-items: flex-start; /*cross axis*/
}

header {
    width: 95%;
    margin: 0;
    padding: 1em 2.5%;
    flex: initial; /*flex: 0 1 auto*/
    border-bottom: 1px solid #EEE; /*grey 200*/
}

section {
    width: 95%;
    margin: 0 0 1em 0;
    padding: 1em 2.5%;
    flex: initial; /*flex: 0 1 auto*/
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start; /*main axis*/
    align-items: flex-start; /*cross axis*/
}

figure {
    width: 100%;
    margin: .25em 0;
    padding: 0;
    flex: initial; /*flex: 0 1 auto*/
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start; /*main axis*/
    align-items: center; /*cross axis*/
}

/*Spans within figure*/
.year {
    margin: 0;
    padding: 0;
    flex: initial; /*flex: 0 1 auto*/
}

.bar {
    /*width set by JavaScript*/
    margin: 0 2.5%;
    padding: 0;
    flex: initial; /*flex: 0 1 auto*/
}

@media all and (min-width: 300px) {
    .bar {
        height: .75em;
    }
}

@media all and (min-width: 600px) {
    .bar {
        height: 1em;
    }
}

.temp {
    margin: 0;
    padding: 0;
    flex: initial; /*flex: 0 1 auto*/
    color: #F2441D; /*orange*/
}

/*Average Annual Temperatures*/
#annual figure {
    background: #F2EDD5;
}

/*Average Winter Temperatures*/
#winter figure {
    background: #F2F2F2;
}

/*Average Spring Temperatures*/
#spring figure {
    background: #D5E5F2;
}

/*Average Summer Temperatures*/
#summer figure {
    background: #F2E7AC;
}

/*Average Fall Temperatures*/
#fall figure {
    background: #F2E6DF;
}

/*figcaption and time in "Fonts" - below*/

footer {
    width: 95%;
    margin: 0;
    padding: 1em 2.5%;
    flex: initial; /*flex: 0 1 auto*/
    border-top: 1px solid #EEE; /*grey 200*/
}

/*Fonts*/

p, li {
    font-family: 'Roboto', serif;
    line-height: 1.8;
    font-weight: 400;
}

figcaption, time {
    font-family: 'Roboto', serif;
    line-height: 1.5;
    font-weight: 400;
}

figcaption {
    color: #48734B;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
    font-weight: 700;
}

h2 {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
    font-weight: 700;
}

/*Media queries: 300, 600*/
@media all and (min-width: 300px) {
    figcaption, time {
        font-size: .75em; /*12 pixels*/
    }

    p, li {
        font-size: .9375em; /*15 pixels*/
    }

    h1 {
        font-size: 1.4375em; /*23 pixels*/
    }

    h2 {
        font-size: 1.0625em; /*17 pixels*/
    }
}

@media all and (min-width: 600px) {
    figcaption, time {
        font-size: .8125em; /*13 pixels*/
    }

    p, li {
        font-size: 1em; /*16 pixels*/
    }

    h1 {
        font-size: 1.5em; /*24 pixels*/
    }

    h2 {
        font-size: 1.125em; /*18 pixels*/
    }
}