/* Stylesheet uses Level 3 Media Queries. Level 4 coverage still spotty. */
body {
    margin-top: 0;
    background: #f6fafe;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

#container {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0;
    flex: initial;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start; /* main axis */
    align-items: flex-start; /* cross axis */
}

.pano {
    width: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    flex: initial;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start; /* main axis */
    align-items: flex-start; /* cross axis */
    position: relative;
}

.pano-img {
    width: 100vw;
    height: 100vh;
    background-image: url("/mount-washington-summit-dept-defense.jpg");
    background-size: cover;
    position: absolute;
    left: 50%;
    right: 50%;
    margin: 0 -50vw;
}

.pano-headline {
    width: 90%;
    padding: 0 5%;
    position: absolute;
    top: 5vh;
    flex: initial;
    text-align: center;
    z-index: 1;
}

.pano-caption {
    width: 90%;
    padding: 0.5em 5%;
    font-size: 1em; /* 16px */
    line-height: 1.5;
    color: #41484d;
    flex: initial;
}

.pano-caption a {
    color: #41484d;
    text-decoration: underline;
}

.pano-caption a:hover {
    text-decoration: underline;
}

.chart {
    width: 90%;
    margin: 0;
    padding: 2em 5%;
    flex: initial;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start; /* main axis */
    align-items: flex-start; /* cross axis */
}

.chart-title {
    width: 100%;
    margin: 0;
    padding: 0;
    flex: initial;
}

canvas {
    width: 100%;
    margin: 0;
    padding: 0;
    flex: initial;
}

.chart-caption {
    width: 100%;
    padding: 0.5em 0;
    font-size: 1em; /* 16px */
    line-height: 1.5;
    color: #2b3133; /* N-20 */
    flex: initial;
}

/* Font styles and their media queries */
h1 {
    line-height: 1.4;
    color: #000;
}

h2 {
    line-height: 1.5;
    color: #171d1e; /* N-10 */
    margin-bottom: 0.25em;
}

h3 {
    line-height: 1.5;
    color: #171d1e; /* N-10 */
    margin-top: 0;
}

/* Media queries for fonts */
@media (min-width: 300px) and (max-width: 399px) {
    h1 {
        font-size: 1.3125em; /* 21px */
    }

    h2 {
        font-size: 1.1875em; /* 19px */
    }

    h3 {
        font-size: 1em; /* 16px */
    }
}

@media (min-width: 400px) and (max-width: 499px) {
    h1 {
        font-size: 1.375em; /* 22px */
    }

    h2 {
        font-size: 1.25em; /* 20px */
    }

    h3 {
        font-size: 1.0625em; /* 17px */
    }
}

@media (min-width: 500px) and (max-width: 599px) {
    h1 {
        font-size: 1.4375em; /* 23px */
    }

    h2 {
        font-size: 1.3125em; /* 21px */
    }

    h3 {
        font-size: 1.125em; /* 18 px */
    }
}

@media (min-width: 600px) {
    h1 {
        font-size: 1.5em; /* 24px */
    }

    h2 {
        font-size: 1.375em; /* 22px */
    }

    h3 {
        font-size: 1.1875em; /* 19px */
    }
}

/* GOOGLE Fonts: Font-family bevan-regular */
.bevan-regular {
  font-family: Bevan, serif;
  font-weight: 400;
  font-style: normal;
}

/* Currently not used */
.bevan-regular-italic {
  font-family: Bevan, serif;
  font-weight: 400;
  font-style: italic;
}

/* GOOGLE Fonts: Font-family roboto-serif, variable weight font, 100 to 900 */
.roboto-serif {
  font-family: "Roboto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100,
    "GRAD" 0;
}

/* Font-weight */
.four {
    font-weight:  400;
}

.six {
    font-weight:  600;
}