/* Stylesheet uses Level 3 Media Queries. Level 4 coverage still spotty. */
body {
    margin-top: 0;
    background: #f6fafe;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

#container {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0;
    flex: initial;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start; /* main axis */
    align-items: flex-start; /* cross axis */
}

.pano {
    width: 100%;
    margin: 0;
    padding: 0;
    flex: initial;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start; /* main axis */
    align-items: flex-start; /* cross axis */
    position: relative;
}

.pano-headline {
    padding: 0;
    position: absolute;
    flex: initial;
    text-align: center;
    z-index: 1;
}

/*.pano-img {
    width: 100vw;
    position: absolute;
    left: 50%;
    right: 50%;
    margin: 0 -50vw;
}*/

/*.img-src {
    object-fit: cover;
}*/

@media (min-width: 300px) and (max-width: 499px) {
    .pano {
        min-height: 45vh;
    }

    .pano-headline {
        width: 80%;
        margin: 0 10%;
        bottom: 2vh;
    }

    .pano-img {
        width: 100vw;
        position: absolute;
        left: 50%;
        right: 50%;
        margin: 0 -50vw;
        height: 45vh;
    }

    .img-src {
        height: 45vh;
        object-fit: cover;
    }
}

@media (min-width: 500px) and (max-width: 799px) {
    .pano {
        min-height: 55vh;
    }

    .pano-headline {
        width: 60%;
        margin: 0 20%;
        bottom: 3vh;
    }

    .pano-img {
        width: 100vw;
        position: absolute;
        left: 50%;
        right: 50%;
        margin: 0 -50vw;
        height: 55vh;
    }

    .img-src {
        height: 55vh;
        object-fit: cover;
    }
}

@media (min-width: 800px) and (max-width: 1499px) {
    .pano {
        min-height: 100vh;
    }

    .pano-headline {
        width: 50%;
        margin: 0 25%;
        top: 3vh;
    }

    .pano-img {
        width: 100vw;
        position: absolute;
        left: 50%;
        right: 50%;
        margin: 0 -50vw;
        height: 100vh;
    }

    .img-src {
        height: 100vh;
        object-fit: cover;
    }
}

@media (min-width: 1500px) {
    .pano-headline {
        width: 50%;
        margin: 0 25%;
        top: 3vh;
    }

    .pano-img {
        width: 100%;
        height: auto;
        margin: 0 auto;
        padding: 0;
        flex: initial;
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start; /* main axis */
        align-items: flex-start; /* cross axis */
    }

    .img-src {
        /* height: 100vh; */
    }

}

.pano-caption {
    width: 90%;
    padding: 0.5em 5%;
    line-height: 1.5;
    color: #41484d;
    flex: initial;
}

.pano-caption a {
    color: #41484d;
    text-decoration: underline;
}

.pano-caption a:hover {
    text-decoration: underline;
}

.chart {
    width: 90%;
    margin: 0;
    padding: 2em 5%;
    flex: initial;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start; /* main axis */
    align-items: flex-start; /* cross axis */
}

.chart-title {
    width: 100%;
    margin: 0;
    padding: 0;
    flex: initial;
}

canvas {
    width: 100%;
    margin: 0;
    padding: 0;
    flex: initial;
}

.chart-caption {
    width: 100%;
    padding: 0.5em 0;
    line-height: 1.5;
    color: #2b3133; /* N-20 */
    flex: initial;
}

/* Font styles and their media queries */
h1 {
    line-height: 1.5;
    color: #000;
}

h2 {
    line-height: 1.5;
    color: #171d1e; /* N-10 */
    margin-bottom: 0;
}

h3 {
    line-height: 1.5;
    color: #171d1e; /* N-10 */
    margin-top: 0;
}

/* Media queries for fonts */
@media (min-width: 300px) and (max-width: 399px) {
    .pano-caption, .chart-caption {
        font-size: 0.9375em; /* 15px */
    }

    h1 {
        font-size: 1.25em; /* 20px */
    }

    h2 {
        font-size: 1.1875em; /* 19px */
    }

    h3 {
        font-size: 1em; /* 16px */
    }
}

@media (min-width: 400px) and (max-width: 499px) {
    .pano-caption, .chart-caption {
        font-size: 0.9375em; /* 15px */
    }

    h1 {
        font-size: 1.3125em; /* 21px */
    }

    h2 {
        font-size: 1.25em; /* 20px */
    }

    h3 {
        font-size: 1.0625em; /* 17px */
    }
}

@media (min-width: 500px) and (max-width: 599px) {
    .pano-caption, .chart-caption {
        font-size: 0.9375em; /* 15px */
    }

    h1 {
        font-size: 1.375em; /* 22px */
    }

    h2 {
        font-size: 1.3125em; /* 21px */
    }

    h3 {
        font-size: 1.125em; /* 18 px */
    }
}

@media (min-width: 600px) {
    .pano-caption, .chart-caption {
        font-size: 1em; /* 16px */
    }

    h1 {
        font-size: 1.4375em; /* 23px */
    }

    h2 {
        font-size: 1.375em; /* 22px */
    }

    h3 {
        font-size: 1.1875em; /* 19px */
    }
}

/* GOOGLE Fonts: Font-family bevan-regular */
.bevan-regular {
  font-family: Bevan, serif;
  font-weight: 400;
  font-style: normal;
}

/* Currently not used */
.bevan-regular-italic {
  font-family: Bevan, serif;
  font-weight: 400;
  font-style: italic;
}

/* GOOGLE Fonts: Font-family roboto-serif, variable weight font, 100 to 900 */
.roboto-serif {
  font-family: "Roboto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100,
    "GRAD" 0;
}

/* Font-weight */
.four {
    font-weight:  400;
}

.five {
    font-weight:  500;
}

.six {
    font-weight:  600;
}