/* Stylesheet uses Level 3 Media Queries. Level 4 coverage still spotty. */
body {
    margin-top: 0;
    background: #f6fafe;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

#container {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0;
    flex: initial;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start; /* main axis */
    align-items: flex-start; /* cross axis */
}

.pano {
    width: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    flex: initial;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start; /* main axis */
    align-items: flex-start; /* cross axis */
    position: relative;
}

figure {
    width: 100vw;
    height: 100vh;
    background-image: url("/mount-washington-summit-andrew-weitzel.jpg");
    background-size: cover;
    position: absolute;
    left: 50%;
    right: 50%;
    margin: 0 -50vw;
}

.pano-headline {
    margin: 0;
    padding: 0;
    position: absolute;
    right: 5%;
    top: 25%;
    flex: initial;
    transform: translate(-5%, -25%);
    z-index: 1;
}

@media (min-width: 300px) and (max-width: 699px) {
    .pano-headline {
        width: 75%;
    }
}

@media (min-width: 700px) and (max-width: 799px) {
    .pano-headline {
        width: 55%;
    }
}

@media (min-width: 800px) and (max-width: 999px) {
    .pano-headline {
        width: 45%;
    }
}

@media (min-width: 1000px) {
    .pano-headline {
        width: 50%;
    }
}

.pano-caption {
    width: 90%;
    padding: 0.5em 5%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    color: #41484d;
    flex: initial;
}

.pano-caption a {
    color: #41484d;
    text-decoration: underline;
}

.pano-caption a:hover {
    text-decoration: underline;
}

.chart {
    width: 90%;
    margin: 2em 0 3em; /* Longhand 2em 0 3em 0 */
    padding: 2em 5%;
    flex: initial;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start; /* main axis */
    align-items: flex-start; /* cross axis */
}

.chart-title {
    width: 100%;
    margin: 0;
    padding: 0;
    flex: initial;
}

canvas {
    width: 100%;
    margin: 0;
    padding: 0;
    flex: initial;
}

.chart-caption {
    width: 100%;
    padding: 0.5em 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.8;
    font-weight: 400;
    color: #41484d;
    flex: initial;
}

/* Font styles and their media queries */
h1 {
    font-family: Georgia, serif;
    line-height: 1.8;
    font-weight: 600;
    font-style: italic;
    color: #fff;
}

h2 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 600;
    color: #171c1f;
}

/* Media queries for fonts */
@media (min-width: 300px) and (max-width: 399px) {
    .pano-caption, .chart-caption {
        font-size: 0.8125em; /* 13px */
    }

    h1 {
        font-size: 1.125em; /* 18 px */
    }

    h2 {
        font-size: 1em; /* 16px */
    }
}

@media (min-width: 400px) and (max-width: 499px) {
    .pano-caption, .chart-caption {
        font-size: 0.875em; /* 14px */
    }

    h1 {
        font-size: 1.25em; /* 20px */
    }

    h2 {
        font-size: 1.125em; /* 18 px */
    }
}

@media (min-width: 500px) and (max-width: 599px) {
    .pano-caption, .chart-caption {
        font-size: 0.9375em; /* 15px */
    }

    h1 {
        font-size: 1.375em; /* 22px */
    }

    h2 {
        font-size: 1.25em; /* 20px */
    }
}

@media (min-width: 600px) {
    .pano-caption, .chart-caption {
        font-size: 1em; /* 16px */
    }

    h1 {
        font-size: 1.5em; /* 24px */
    }

    h2 {
        font-size: 1.375em; /* 22px */
    }
}